
<div>

    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()"  mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span  class="title" routerLink="/dashboard">Dashboard</span>
        <span class="spacer"></span>
        <span class="welcome-text">Hola {{usuario.nombres}}</span>

        <button  mat-button [matMenuTriggerFor]="menu" >
    
            <div class="icon-container">
                <img src="{{usuario.imagen}}" alt="icono personalizado">
              </div>
    
        </button>
    
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <span >Salir</span>
    
             
            </button>
          </mat-menu>
      </mat-toolbar>
    
      <mat-sidenav-container class="sidenav-container">
        <!-- Panel lateral -->
        <mat-sidenav #drawer mode="side" opened class="sidenav">
          <mat-toolbar>Entidades</mat-toolbar>
          <mat-nav-list>
            <mat-list-item routerLink="casas">
              <mat-icon matListIcon>home</mat-icon>
              <span matLine>Casas</span>
            </mat-list-item>
      
            <mat-list-item routerLink="usuarios">
              <mat-icon matListIcon>group</mat-icon>
              <span matLine>Usuarios</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
      
        <!-- Contenido principal -->
        <mat-sidenav-content>
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>




</div>












